@media (max-width: 425px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top_title {
        width: 343px;
        height: 77.44px;
        font-size: 32px;
        text-align: center;
        &_text {
            width: 343px;
            font-size: 14px;
        }
    }
    
    
    .game_content {
        grid-template-columns: repeat(4, 1fr);
        &_item {
        grid-column: 1/-1;
        width: 343px;
        }
    }

    
    
    
}

