* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    width: 1440px;
    height: 1024px;
    background-image: url(imgHW1/top.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

